# Target options
BR2_riscv=y
BR2_RISCV_32=y

# Instruction Set Extensions
BR2_riscv_custom=y
BR2_RISCV_ISA_CUSTOM_RVM=y
BR2_RISCV_ISA_CUSTOM_RVA=y
BR2_RISCV_ISA_CUSTOM_RVC=n
#BR2_RISCV_ISA_CUSTOM_RVF=y  # Uncomment to enable FPU
#BR2_RISCV_ISA_CUSTOM_RVD=y  # Uncomment to enable FPU
BR2_RISCV_ISA_RVM=y
BR2_RISCV_ISA_RVA=y
BR2_RISCV_ISA_RVC=n
#BR2_RISCV_ISA_RVF=y  # Uncomment to enable FPU
#BR2_RISCV_ISA_RVD=y  # Uncomment to enable FPU
BR2_RISCV_ABI_ILP32=y

# Patches
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_LITEX_VEXRISCV_PATH)/patches"

# GCC
BR2_GCC_VERSION_12_X=y
#BR2_GCC_VERSION_11_X=y

# System
BR2_TARGET_GENERIC_GETTY=y
BR2_TARGET_GENERIC_GETTY_PORT="console"
BR2_TARGET_TZ_INFO=y

# Filesystem
BR2_TARGET_ROOTFS_CPIO=y

# Kernel (litex-rebase branch)
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_REPO_URL="https://github.com/machdyne/litex-linux.git"
BR2_LINUX_KERNEL_CUSTOM_REPO_VERSION="litex-monochrome"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="$(BR2_EXTERNAL_LITEX_VEXRISCV_PATH)/board/litex_vexriscv_usbhost/linux.config"
BR2_LINUX_KERNEL_IMAGE=y

# Rootfs customisation
BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL_LITEX_VEXRISCV_PATH)/rootfs_overlay"
BR2_GLOBAL_PATCH_DIR="$(BR2_EXTERNAL_LITEX_VEXRISCV_PATH)/patches"

BR2_PACKAGE_HOST_LINUX_HEADERS_CUSTOM_6_1=y

# Extra packages
#BR2_PACKAGE_DHRYSTONE_OPT=y
#BR2_PACKAGE_MICROPYTHON=y
#BR2_PACKAGE_SPIDEV_TEST=y
#BR2_PACKAGE_MTD=y
#BR2_PACKAGE_MTD_JFFS_UTILS=y

# Crypto
#BR2_PACKAGE_LIBATOMIC_OPS_ARCH_SUPPORTS=y
#BR2_PACKAGE_LIBATOMIC_OPS=y
#BR2_PACKAGE_OPENSSL=y
#BR2_PACKAGE_LIBRESSL=y
#BR2_PACKAGE_LIBRESSL_BIN=y
#BR2_PACKAGE_HAVEGED=y
#BR2_PACKAGE_VEXRISCV_AES=y # Uncomment to enable hardware AES

BR2_PACKAGE_BUSYBOX_CONFIG_FRAGMENT_FILES="$(BR2_EXTERNAL_LITEX_VEXRISCV_PATH)/configs/busybox.config"

# Kakao basics
BR2_TARGET_GENERIC_HOSTNAME=kakao
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_PACKAGE_NCURSES=y
BR2_PACKAGE_NANO=y
BR2_PACKAGE_LIBFFI=y
BR2_PACKAGE_TCC=y
BR2_PACKAGE_MICROPYTHON=y
BR2_PACKAGE_TINYSCHEME=y
BR2_PACKAGE_LINKS=y
BR2_PACKAGE_NETKIT_TELNET=y
BR2_PACKAGE_ZSSH=y
BR2_PACKAGE_LRZSZ=y
BR2_PACKAGE_FBV=y
BR2_PACKAGE_FBV_PNG=y
BR2_PACKAGE_FBV_JPEG=y
#BR2_PACKAGE_FBV_GIF=y
BR2_PACKAGE_MUPDF=y
BR2_PACKAGE_IMAGEMAGICK=y
BR2_PACKAGE_SCREEN=y
BR2_PACKAGE_PICOCOM=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_DROPBEAR_CLIENT=y
BR2_PACKAGE_DROPBEAR_SMALL=y

# Extras for sdroot
BR2_PACKAGE_BUSYBOX_SHOW_OTHERS=y
BR2_PACKAGE_BASH=y
BR2_PACKAGE_GPM=y
BR2_PACKAGE_LESS=y
BR2_PACKAGE_MG=y
BR2_PACKAGE_NANOX=y
BR2_PACKAGE_NCURSES_WCHAR=y
BR2_PACKAGE_MINICOM=y
BR2_PACKAGE_MC=y
BR2_PACKAGE_BINUTILS=y
BR2_PACKAGE_MAKE=y
BR2_PACKAGE_E2FSPROGS=y
BR2_PACKAGE_DOSFSTOOLS=y
BR2_PACKAGE_NTP=y
BR2_PACKAGE_WGET=y
BR2_PACKAGE_LYNX=y
BR2_PACKAGE_LLAMAC=y
BR2_PACKAGE_GNUPG=y

# Programming / math
BR2_PACKAGE_BC=y
BR2_PACKAGE_PYTHON3=y
BR2_PACKAGE_LUA=y

# Games
BR2_PACKAGE_ASCII_INVADERS=y

# Audio
BR2_PACKAGE_ALSA_LIB=y
BR2_PACKAGE_ALSA_UTILS=y
BR2_PACKAGE_PORTAUDIO=y
BR2_PACKAGE_PORTAUDIO_ALSA=y
BR2_PACKAGE_SOX=y
BR2_PACKAGE_ESPEAK=y
BR2_PACKAGE_ESPEAK_AUDIO_BACKEND_ALSA=y

# Networking
BR2_PACKAGE_IPTABLES=y
BR2_PACKAGE_DNSMASQ=y
BR2_PACKAGE_TRACEROUTE=y

# Misc
BR2_PACKAGE_FBTERM=y
BR2_PACKAGE_FB_TEST_APP=y

# Filesystems
BR2_PACKAGE_F2FS_TOOLS=y

# FPGA tools
BR2_PACKAGE_OPENFPGALOADER=y
